<tr>
	<td>
		<%= finance.id %>
	</td>
	<td>
		<%= finance.year %>
	</td>
	<td>
		<%= finance.month %>
	</td>
	<td>
		<%= truncate(finance.user.full_name) %>
	</td>
	<td>
		<%= finance.payment_due %>
	</td>
</tr>