<%= form_for @finance, class: "form-horizontal" do |f| %>

  <% if @finance.errors.any? %>
    <% @finance.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Property Management App Notification", sticky: false) %>
    <% end %>
  <% end %>

	<div class="form-group">
		<%= f.label :year, class: "col-sm-2 control-label" %>
		<%= f.text_field :year, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :month, class: "col-sm-2 control-label" %>
		<%= f.text_field :month, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :payment_due, class: "col-sm-2 control-label" %>
		<%= f.number_field :payment_due, class: "form-control", :step => 0.01 %>
	</div>	

	<%= render partial: 'status', locals: { f: f } if current_user.type == 'AdminUser' %>

  <%= f.submit 'Save', class: "btn btn-primary btn-block" %>

<%end %>




					