<%= form_for @finance, class: "form-horizontal" do |f| %>

  <% if @finance.errors.any? %>
    <% @finance.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Property Management App Notification", sticky: false) %>
    <% end %>
  <% end %>

  <div class="form-group">
  	<%= f.label :user, class: "col-sm-2 control-label" %><br>
  	<div class="">
			<%= collection_select( :finance, :user_id, User.all, :id, :last_name, { :multiple => false },
           { :class => "form-control" }) %>
		</div>
	</div>

  <div class="form-group">
		<%= f.label :date, class: "col-sm-2 control-label" %><br>
		<div class="">
			<%= f.date_field :date, class: "form-control" %>
			<%#= f.date_select :date, { :class => "form-control" } %> <!-- TODO style date from -->
		</div>
	</div>


	<div class="form-group">
		<%= f.label :gas, class: "col-sm-2 control-label" %>
		<%= f.number_field :gas, class: "form-control", :step => 0.01 %>
	</div>

	<div class="form-group">
		<%= f.label :water, class: "col-sm-2 control-label" %>
		<%= f.number_field :water, class: "form-control", :step => 0.01 %>
	</div>

	<div class="form-group">
		<%= f.label :electricity, class: "col-sm-2 control-label" %>
		<%= f.number_field :electricity, class: "form-control", :step => 0.01 %>
	</div>

	<%= render partial: 'status', locals: { f: f } if current_user.type == 'AdminUser' %>

  <%= f.submit 'Save', class: "btn btn-primary btn-block" %>

<%end %>





					