<div class="form-group">
	<%= f.label :payment_due, class: "col-sm-2 control-label" %>
	<%= f.number_field :payment_due, class: "form-control", :step => 0.01 %>
</div>

<div class="form-group">
  <%= f.radio_button :status, 'open' %>
  <%= f.label :status, 'Open' %>

  <%= f.radio_button :status, 'paid' %>
  <%= f.label :status, 'Paid' %>
</div>