<div role="navigation" class='container nav-bar'>
	<% if current_user %>
		<div class='logo'>
			<h1 class='head-font-bold head-homepage'>Sudetenlandweg</h1>
			<h3 class='head-font-italic head-homepage-small'>Sankt Andreasberg</h3>
		</div>

	<!-- TODO -->

		<ul class="custom-nav nav nav-tabs">
			<li class="<%= active?(root_path) %>">
				<%= link_to " ", posts_path , class: 'glyphicon glyphicon-home glyph-custom' %>
			</li>
			<li class="<%= active?(finances_path) %>">
				<%= link_to "Rechnungen", finances_path %>
			</li>
			<% if current_user.try(:type) == 'AdminUser' %>
				<li class="<%= active?( new_finance_path) %>">
					<%= link_to "Neue Rechnung erstellen", new_finance_path, id: 'new_finance_from_nav' %>
				</li>
				<li class="<%= active?( new_post_path) %>">
					<%= link_to "Mitteilung hinzufügen", new_post_path, id: 'new_post_from_nav' %>
				</li>
			<% end %>
			<li class="<%= active?( root_path) %>">
				<%= link_to "Kontakt", static_contact_path %>
			</li>

			<li class="dropdown pull-right">
				 <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= current_user.full_name %> <strong class="caret"></strong></a>
				<ul class="dropdown-menu">

					<!-- TODO -->
					<% if current_user.try(:type) == 'AdminUser' %>
						<li>
							<%= link_to "Admin Dashboard", admin_root_path %>
						</li>
						<li class="divider">
						</li>
					<% end %>
					<!-- TODO -->

					<li>
						<%= link_to "Logout", destroy_user_session_path, method: :delete %>
					</li>
				</ul>
			</li>
		</ul>
	<% end %>
</div>
<!-- TODO -->