<%= link_to post_url(post), :class => "post-admin" do %>
	<div class='col-md-5 post'>
		<h3>
			<%= post.title %>
		</h3>
		<hr>
		<p id='post-date'><i><%= post.date %></i></p>
		<p>
			<%= post.description.truncate(45) %>
		</p>
		<% if current_user.try(:type) == 'AdminUser' %>
			<p>
				<%= link_to 'Edit', edit_post_path(post), :class => "post-admin" %>
			</p>
		<% end %>
	</div>
<% end %>








