<!DOCTYPE html>
<html>
  <head>
    <title>PropMan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//static1.wetter.com/woys/5/css/w.css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i" rel="stylesheet">


  </head>

  <body>

  	<div class="container-fluid wrapper my-container" style="height: 100vh;">
			<div class="row content">
        <!-- <div class="col-md-12"> -->

					<%= render 'shared/nav' %>
    			<%= yield %>

        
			</div>
		</div>

    <!-- ============================= -->
    <!-- All your JavaScript comes now -->
    <!-- ============================= -->

    <script type="text/javascript" src="//static1.wetter.com/woys/5/js/w.js"></script>
    <script type="text/javascript">_wcomWidget({id: 'wcom-fdde0e4ef7c2ea6d7a7975753503eab2',location: 'DE0012197005',format: '150x150',type: 'spaces'});</script>

    <%= render 'shared/alerts' %>
  </body>
</html>
